/* .class-type {
} */

/* .class_type {

} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#hero-section > h1 {
	color: blue;
}

#gallery > h2 {
	color: crimson;
	background-color: black;
}
